In [2]:
data_path = r"E:\MS\Fall 2021\CS 594\Data"

In [ ]:
!pip install pyshp

In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# from ripser import ripser, lower_star_img
# from persim import plot_diagrams
from scipy import stats

In [4]:
import shapefile

In [ ]:
os.chdir(data_path)

In [ ]:
import geopandas as gd

In [ ]:
shpFile = gd.read_file("nyc_mappluto_21v3_shp/MapPLUTO.shp")
shpFile.plot()

In [ ]:
df = pd.read_pickle('311_2019.pkl.gz')

In [ ]:
m1 = df[['latitude','longitude']].to_numpy()[:,1]
m2 = df[['latitude','longitude']].to_numpy()[:,0]
xmin = m1.min()
xmax = m1.max()
ymin = m2.min()
ymax = m2.max()

X, Y = np.mgrid[xmin:xmax:100j, ymin:ymax:100j]
positions = np.vstack([X.ravel(), Y.ravel()])
values = np.vstack([m1, m2])
kernel = stats.gaussian_kde(values)
Z = np.reshape(kernel(positions).T, X.shape)

In [ ]:
fig, ax = plt.subplots()
ax.imshow(np.rot90(Z), cmap=plt.cm.YlOrBr, extent=[xmin, xmax, ymin, ymax])
ax.set_xlim([xmin, xmax])
ax.set_ylim([ymin, ymax])
plt.show()

In [ ]:
dgm = lower_star_img(-Z)
dgm[~np.isinf(dgm)] = -dgm[~np.isinf(dgm)]
dgm[~np.isinf(dgm).any(axis=1)] = np.flip(dgm[~np.isinf(dgm).any(axis=1)])

plt.figure(figsize=(10, 5))
plt.subplot(121)
plt.imshow(np.rot90(Z), cmap=plt.cm.YlOrBr, extent=[xmin, xmax, ymin, ymax])
plt.colorbar()
plt.title("Scalar function")
plt.subplot(122)
plot_diagrams(dgm)
plt.title("Persistence diagram")
plt.tight_layout()
plt.show()

## Taxi Data

In [4]:
df = pd.read_csv("taxi data/yellow_tripdata_2018-10.csv")

In [5]:
taxi_zones = pd.read_csv("taxi data/taxi_zones.csv")

In [6]:
df_loc = pd.DataFrame(df).join(taxi_zones.set_index("LocationID"), on=["PULocationID"], how = "inner")
df_loc.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,borough
0,1,2018-10-01 00:23:34,2018-10-01 00:44:50,1,6.20,1,N,68,7,2,...,0.00,0.0,0.3,21.80,68,0.049337,MULTIPOLYGON (((-74.00201937799989 40.74044408...,0.000111,East Chelsea,Manhattan
25,1,2018-10-01 00:22:18,2018-10-01 00:34:50,1,3.30,1,N,68,141,1,...,2.75,0.0,0.3,16.55,68,0.049337,MULTIPOLYGON (((-74.00201937799989 40.74044408...,0.000111,East Chelsea,Manhattan
108,1,2018-10-01 00:09:33,2018-10-01 00:34:42,1,6.90,1,N,68,226,1,...,6.05,0.0,0.3,30.35,68,0.049337,MULTIPOLYGON (((-74.00201937799989 40.74044408...,0.000111,East Chelsea,Manhattan
145,2,2018-10-01 00:02:51,2018-10-01 00:24:10,1,5.46,1,N,68,42,1,...,4.26,0.0,0.3,25.56,68,0.049337,MULTIPOLYGON (((-74.00201937799989 40.74044408...,0.000111,East Chelsea,Manhattan
186,1,2018-10-01 00:32:47,2018-10-01 00:50:10,1,5.10,1,N,68,7,1,...,3.75,0.0,0.3,22.55,68,0.049337,MULTIPOLYGON (((-74.00201937799989 40.74044408...,0.000111,East Chelsea,Manhattan

In [7]:
m1 = df_loc[['lat','long']].to_numpy()[:,1]
m2 = df_loc[['lat','long']].to_numpy()[:,0]
xmin = m1.min()
xmax = m1.max()
ymin = m2.min()
ymax = m2.max()

X, Y = np.mgrid[xmin:xmax:100j, ymin:ymax:100j]
positions = np.vstack([X.ravel(), Y.ravel()])
values = np.vstack([m1, m2])
kernel = stats.gaussian_kde(values)
Z = np.reshape(kernel(positions).T, X.shape)

KeyError: "None of [Index(['lat', 'long'], dtype='object')] are in the [columns]"

In [ ]:
fig, ax = plt.subplots()
ax.imshow(np.rot90(Z), cmap=plt.cm.YlOrBr, extent=[xmin, xmax, ymin, ymax])
ax.set_xlim([xmin, xmax])
ax.set_ylim([ymin, ymax])
plt.show()