In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import glob
import os
import numpy as np
import math
import datetime
import json

In [3]:
path = 'taxi data/taxi_zones_with_latlong.csv'
taxiZone = pd.read_csv(path)

taxiZone = taxiZone.drop(columns=['OBJECTID','Shape_Leng', 'Shape_Area'])
taxiZone.head()

                      zone  LocationID        borough        lat       long
0           Newark Airport           1            EWR -74.176786  40.689516
1              Jamaica Bay           2         Queens -73.826126  40.625724
2  Allerton/Pelham Gardens           3          Bronx -73.849479  40.865888
3            Alphabet City           4      Manhattan -73.977023  40.724152
4            Arden Heights           5  Staten Island -74.189930  40.550340

In [ ]:
path = 'taxi data/october/green_tripdata_2018-10.csv'
october = pd.read_csv(path)


path = 'taxi data/october/fhv_tripdata_2018-10.csv'
november = pd.read_csv(path)


path = 'taxi data/october/yellow_tripdata_2018-10.csv'
december = pd.read_csv(path)

In [ ]:
# exporting the whole month of october data to a json file

loc = taxiZone['LocationID'].to_list()
zo = taxiZone['zone'].to_list()
d = {'zone': zo, 'location': loc}
wholeData = pd.DataFrame(data=d)

wholeData.head()
for i in range(1,32):
    date = datetime.date(2018, 10, i)
# #     print(date)
    dropdf = allData[(allData.dropoff == date)]
    dropdf = dropdf.rename(columns={'dropoff': 'date',
                                                   'dropoffLocID': 'LocationID'})
    dropdf = dropdf.merge(taxiZone, how='inner', on='LocationID')
    
    df = dropdf['zone'].value_counts().rename_axis('zone').reset_index(name='dropoffCount')

    df = df.merge(taxiZone,on='zone', how='inner')
    
    temp = []
    for index, row in wholeData.iterrows():
        locID = row["location"]
        
        if locID in df['LocationID'].values:
            val = df.loc[df['LocationID'] == locID, 'dropoffCount'].to_list()
#             print(df.loc[df['LocationID'] == locID, 'dropoffCount'].to_list())
            temp.append(val[0])
        else:
            temp.append(0)
            
    wholeData[str(date)] = temp
    
wholeData.head()

In [ ]:
resultDict = []
columnList = wholeData.columns.to_list()
# print(columnList)
for index, row in wholeData.iterrows():

#         resultDict[row['location']] = {}
    temp = {}
    temp["zone"] = row['zone']
    temp['location'] = row['location']
    temp['values'] = []

    for i in range(2,33):
        temp['values'].append({'date' : i-1, 'value': row[i]})

#     print(temp)
            
        
    resultDict.append(temp)
    
# print(resultDict)

with open('output/whole.json', 'w') as fp:
    json.dump(resultDict, fp)

In [ ]:
# exporting the whole month of october data to json files
for i in range(1,32):
    date = datetime.date(2018, 10, i)
#     print(date)
    dropdf = allData[(allData.dropoff == date)]
    dropdf = dropdf.rename(columns={'dropoff': 'date',
                                                   'dropoffLocID': 'LocationID'})
    dropdf = dropdf.merge(taxiZone, how='inner', on='LocationID')
    
    df = dropdf['zone'].value_counts().rename_axis('zone').reset_index(name='dropoffCount')

    df = df.merge(taxiZone,on='zone', how='inner')
    
    print(df)

#     resultDict = {}
#     for index, row in df.iterrows():
#         resultDict[row['LocationID']] = row.to_dict()

#     with open('output/{}.json'.format(date), 'w') as fp:
#         json.dump(resultDict, fp)

In [ ]:
# exporting max dropoff for each month
resultDict = {}
for i in range(1,32):
    date = datetime.date(2018, 10, i)
#     print(date)
    dropdf = allData[(allData.dropoff == date)]
    dropdf = dropdf.rename(columns={'dropoff': 'date',
                                                   'dropoffLocID': 'LocationID'})
    dropdf = dropdf.merge(taxiZone, how='inner', on='LocationID')
    
    df = dropdf['zone'].value_counts().rename_axis('zone').reset_index(name='dropoffCount')

    df = df.merge(taxiZone,on='zone', how='inner')
    
#     print(df.dropoffCount.max(), df.dropoffCount.min())



    resultDict["{}".format(date)] = df.dropoffCount.max()

#     with open('output/{}.json'.format(date), 'w') as fp:
#         json.dump(resultDict, fp)

In [ ]:
    with open('output/domain.json', 'w') as fp:
        json.dump(resultDict, fp)

In [ ]:
diwali = datetime.date(2018, 10, 13)


diwaliDropoff = allData[(allData.dropoff == diwali)]
diwaliDropoff = diwaliDropoff.rename(columns={'dropoff': 'date',
                                                   'dropoffLocID': 'LocationID'})
print(diwaliDropoff.shape)
diwaliDropoff.tail()

In [ ]:
diwaliDropoff = diwaliDropoff.merge(taxiZone, how='inner', on='LocationID')
diwaliDropoff.head()

In [ ]:
diwaliDropoff['borough'].value_counts()

In [ ]:
diwaliDropoff['zone'].value_counts()

In [ ]:
df = diwaliDropoff['zone'].value_counts().rename_axis('zone').reset_index(name='dropoffCount')

df = df.merge(taxiZone,on='zone', how='inner')
df

diwaliDict = {}
for index, row in df.iterrows():
    diwaliDict[row['LocationID']] = row.to_dict()
    
with open('diwaliDrop.json', 'w') as fp:
    json.dump(diwaliDict, fp)

# df.to_csv("diwaliDrop.csv", index=False)
# df.to_json('diwaliDrop.json', orient = 'records', index = 'false')

In [ ]:
pizza = datetime.date(2018, 10, 10)


pizza = allData[(allData.dropoff == pizza)]
pizza = pizza.rename(columns={'dropoff': 'date',
                             'dropoffLocID': 'LocationID'})
print(pizza.shape)
pizza.head()

In [ ]:
pizza = pizza.merge(taxiZone, how='inner', on='LocationID')
pizza.head()

In [ ]:
pizza['borough'].value_counts()

In [ ]:
pizza['zone'].value_counts()

In [ ]:
dfDiwali = diwaliDropoff['zone'].value_counts().reset_index()
dfDiwali.columns = ['zone', 'count']

dfPizza = pizza['zone'].value_counts().reset_index()
dfPizza.columns = ['zone', 'count']

In [ ]:
dfPizza[dfPizza.zone == 'SoHo']